
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header-container {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  gap: 10px;
  border-bottom: 2px solid #ddd;
}


.top-section {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 20px;
  width: 100%;
}


.logo .logo-image {
  height: 100px;
  width: 200px;
}


.search-bar {
  flex-grow: 1; 
  height: 30px;
  margin-left: 10px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 4px;
}


.nav-links.primary-nav {
  display: flex;
  gap: 15px;
  margin-right: 10px;
 
}


.controls {
  display: flex;
  align-items: center;
}


.blue-button {
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 30px;
  width: 100px;
}


.dropdown {
  width: 100px;
  height: 30px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}


.secondary-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
}

.nav-links.secondary-links .nav-item {
  font-size: 0.8rem;
  text-decoration: none;
  color: black;
  padding: 5px 8px;
  border-radius: 3px;
  transition: color 0.3s ease;
}

.nav-links.secondary-links .nav-item:hover {
  color: blue;
}
.cart{
  text-decoration: none;
  
}